@media (max-width: 756px) {
  .nav > li {
    font-size: 2vw;
    width: 100%;
    padding: 0.5vw;
    text-align: center;
  }

  #logo {
    font-size: 5vw;
    position: relative;
    width: 100%;
    letter-spacing: -2px;
  }

  #logo::before {
    content: "c";
    position: absolute;
    font-size: 1vw;
    font-weight: 500;
    border: 1px solid black;
    border-radius: 50%;
    padding: 0.5px 2px;
    left: 105%;
    top: 10%;
    letter-spacing: normal;
  }

  #logo::after {
    content: "model management";
    letter-spacing: normal;
    position: absolute;
    font-size: 1vw;
    font-weight: 400;
    top: 85%;
    left: 35%;
  }

  #search {
    width: 50%;
  }

  #search img {
    width: 4vw;
    height: 4vw;
  }

  .hero {
    padding: 4vw;
    width: 100%;
    height: 90vh;
  }

  .hero-image {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
  }

  .hero-text {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: transparent;
  }

  .text {
    position: absolute;
    bottom: 0;
    padding: 20px;
    width: 100%;
    mix-blend-mode: difference;
  }

  #number {
    padding: 20px 25px;
    font-weight: 500;
    font-size: 3vw;
    border: 1px solid white;
    border-radius: 50%;
    letter-spacing: 2px;
  }

  .text1,
  .text2 {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    font-size: 4vw;
    align-items: center;
    color: white;
  }

  .text1 {
    border-bottom: 1px solid white;
    font-weight: 900;
    letter-spacing: -3px;
  }

  .text2 {
    font-weight: 600;
  }

  .alumnis {
    display: flex;
    padding: 20px 0;
    overflow: hidden;
  }

  .part {
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    text-align: center;
    /* border: 2px solid black; */
    /* background-color: pink; */
    width: 100%;
    animation: alumnis 20s linear 2s infinite;
    padding-left: 10px;
    font-weight: 500;
  }

  .alumni img {
    height: 20vw;
    width: 20vw;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
  }

  .alumnis .part:nth-child(1) .alumni:nth-child(n + 5):nth-child(-n + 8) {
    display: none;
  }

  .alumnis .part:nth-child(2) .alumni:nth-child(n + 1):nth-child(-n + 4) {
    display: none;
  }

  @keyframes alumnis {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }

  .alphas {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5vw 2.5vw;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    font-style: italic;
    text-transform: uppercase;
    text-orientation: upright;
  }

  .alpha {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 1vw;
    font-weight: 400;
    /* background-color: green; */
  }

  .alphas > span {
    text-decoration: underline;
    font-size: 2vw;
    font-weight: 600;
    margin-right: 20px;
  }

  .alpha span {
    width: 100%;
    border: 1px solid transparent;
    border-radius: 50%;
    padding: 0.5px 0;
    text-align: center;
    color: rgba(0, 0, 0, 0.533);
    font-size: 2vw;
    font-weight: 500;
  }

  .alpha span:focus {
    border-color: black;
    color: black;
  }

  .vogue {
    padding: 5vh 2.5vw;
    /* border: 2px solid red; */
  }

  .vmain {
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
  }

  .vleft {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .vleft img {
    width: 100%;
    height: 80%;
    object-fit: cover;
    object-position: center;
  }

  .vright {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 2vw 0;
    justify-content: space-evenly;
  }

  .vright img {
    width: 100%;
    height: 75%;
    /* border: 2px solid yellow; */
    object-fit: cover;
    object-position: center;
  }

  .vtext {
    display: flex;
    padding-top: 2vh;
  }

  .vtext p1,
  p2 {
    width: 50%;
  }

  .vtext p1 {
    font-size: 4vw;
    font-weight: 600;
    padding-right: 20px;
  }

  .vtext p2 {
    font-size: 3.5vw;
  }

  .vogue-text h1 {
    padding-top: 20px;
    text-transform: uppercase;
    letter-spacing: -2px;
    font-size: 6vw;
  }

  .connect {
    flex-direction: column;
    justify-content: space-between;
    /* border: 2px solid red; */
    padding: 2vw 2.5vw;
    height: 100vh;
  }

  .connect > div {
    /* border: 2px solid greenyellow; */
    width: 100%;
    height: 50%;
    padding: 2vw;
  }

  .follow {
    width: 40%;
  }

  .follow > div {
    height: 50%;
  }

  .connect-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .go {
    position: absolute;
  }

  .go > img {
    width: 25vw;
    height: 25vw;
    cursor: pointer;
  }

  .connect-icon > img {
    width: 50vw;
    height: 50vw;
    object-fit: cover;
    animation: rotate 20s linear 1ms infinite;
  }

  @keyframes rotate {
    from {
      rotate: 0deg;
    }
    to {
      rotate: 360deg;
    }
  }

  .connect-text {
    font-size: 5vw;
    position: relative;
    /* border: 2px solid red; */
  }

  .connect-text h5 {
    position: absolute;
    bottom: 0;
  }

  .connect-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .flora {
    padding: 2.5vw 5vw;
    /* border: 2px solid green; */
  }

  .flora > img {
    width: 100%;
    height: 40vh;
    object-fit: cover;
    object-position: 30% 30%;
  }

  .updates {
    /* border: 2px solid black; */
    padding: 2.5vw 5vw;
  }

  .updates > .title {
    text-align: center;
    text-transform: uppercase;
    font-size: 8vw;
    font-weight: 900;
    letter-spacing: -1.5px;
    padding-bottom: 5vw;
  }

  .update {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 1vw;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    position: relative;
    font-size: 2.5vw;
  }

  .update-image img {
    border-radius: 10px;
    width: 60px;
    height: 60px;
    object-fit: cover;
    object-position: top;
    position: relative;
    top: 5%;
    left: 20%;
    opacity: 1;
    transition: all ease 1.5s;
  }

  .update > h5 {
    width: 15%;
  }
  .update > div {
    width: 42.5%;
    text-align: start;
  }

  .update-image {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
  }

  .update:nth-child(1) {
    border-top: 2px solid black;
  }
  .update:nth-last-child(1) {
    border-bottom: 2px solid black;
  }

  .movie-shot {
    /* border: 2px solid red; */
    height: auto;
    padding: 2.5vw;
    display: flex;
    flex-direction: column;
  }

  .movie-shot > div {
    padding: 2.5vw;
    width: 100%;
    /* border: 2px solid purple; */
  }

  .movie-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
  }

  .shot {
    height: 100vh;
    display: grid;
    grid-template-rows: 10% 15% 15% 60%;
  }

  .shot h1 {
    font-size: 10vw;
    letter-spacing: -3px;
    transform: scaleY(0.9);
    font-weight: 900;
  }

  .shot h4 {
    padding: 0;
    width: 80%;
    font-size: 4vw;
    font-weight: 600;
  }

  .shot p {
    font-size: 3.5vw;
    font-weight: 500;
  }

  .shot-images {
    display: flex;
  }

  .shot-images > div:nth-child(1) {
    /* border: 2px solid green; */
    padding-right: 10px;
    width: 60%;
  }
  .shot-images > div:nth-child(2) {
    /* border: 2px solid green; */
    padding-right: 10px;
    width: 40%;
  }

  .shot-images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
  }

  .v2 {
    padding: 5vw;
    height: auto;
    display: grid;
    grid-template-rows: 50% 50%;
    gap: 20px;
    /* border: 2px solid red; */
  }

  .v2 > div {
    width: 100%;
  }

  .v2-right {
    padding-left: 0vw;
  }

  .v2 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
  }

  .v2-right {
    display: grid;
    grid-template-rows: 70% 30%;
    /* border: 2px solid pink; */
  }

  .v2-text h2 {
    font-size: 3.5vw;
    width: 50%;
  }

  .v2-text p {
    width: 50%;
    font-size: 3vw;
    font-weight: 500;
  }

  .brand-strip {
    /* background-color: pink; */
    display: flex;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    color: transparent;
    -webkit-text-stroke: 2px black;
    overflow: hidden;
  }

  .strip {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    display: flex;
    font-size: 7vw;
    font-weight: 900;
    letter-spacing: 0.2vw;
    text-transform: uppercase;
    animation: strip 20s linear 0ms infinite;
    padding: 0 2vw;
  }

  .strip div {
    /* background-color: crimson; */
    width: 100%;
    flex-shrink: 0;
    margin-right: 0.2vw;
    margin-left: -0.2vw;
    display: flex;
    /* border: 2px solid salmon; */
  }

  .strip > div:nth-last-child(1) {
    display: none;
  }

  @keyframes strip {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }

  .blogs {
    padding: 1vw 0;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 5% 47.5% 47.5%;
  }

  .blogs h1 {
    font-size: 8vw;
    font-weight: 900;
    letter-spacing: -2px;
    transform: scaleY(0.9);
    text-align: center;
  }

  .blogs img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .blog {
    padding: 20px;
    display: grid;
    grid-template-rows: 30% 70%;
    align-content: space-between;
    gap: 0;
  }

  .blog p {
    font-size: 3.6vw;
    font-weight: 450;
  }

  .blog p::before {
    content: "B";
    font-size: 2vw;
    border: 2px solid black;
    border-radius: 50%;
    padding: 4px 8px;
    position: relative;
    left: -4px;
    top: -4px;
  }

  footer {
    padding-bottom: 20px;
  }

  .footer {
    height: auto;
    padding: 0 0 0 5vw;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    display: grid;
    grid-template-rows: 25% 15% 60%;
    grid-template-columns: 50% 50%;
    list-style: none;
    align-items: start;
    padding-left: 0;
  }

  #footer-logo {
    grid-column: span 2;
    /* border: 2px solid red; */
    font-size: 10vw;
    font-weight: 900;
    letter-spacing: -4px;
    align-self: self-start;
    text-align: center;
    padding-top: 0;
    transform: scaleY(0.8);
  }

  #footer-logo::before {
    content: "c";
    position: absolute;
    font-size: 1.6vw;
    font-weight: 500;
    border: 1px solid black;
    border-radius: 50%;
    padding: 1.5px 4px;
    left: 68.5%;
    top: 10%;
    letter-spacing: normal;
  }

  #footer-logo::after {
    content: "model management";
    letter-spacing: normal;
    position: absolute;
    font-size: 2.6vw;
    font-weight: 500;
    top: 65%;
    left: 45%;
  }

  .footer-text {
    grid-column: span 1;
    text-align: center;
    height: 100%;
    border-top: 2px solid black;
    border-right: 2px solid black;
    padding-top: 0;
  }

  .footer-text h4 {
    font-size: 3.3vw;
    font-weight: 500;
    padding: 2px;
  }

  .footer > li:nth-child(3) {
    border-right-width: 0;
  }
  .contact {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-right-width: 0;
    padding-top: 0;
  }

  .contact-text {
    border-bottom-width: 0;
    border-top-width: 0;
    font-size: 3.3vw;
    font-weight: 500;
    padding: 2vw;
    text-align: center;
  }

  .contact-sub {
    height: 60%;
    display: flex;
    font-size: 2vw;
    flex-direction: column;
    padding: 2.5vw;
    text-align: start;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    padding-top: 1vw;
    padding-bottom: 1vw;
  }

  .socials {
    width: 40%;
    display: flex;
    justify-content: space-between;
  }

  .socials img {
    width: 5vw;
    height: 5vw;
  }
  .footer > li:nth-child(1) {
    grid-column: span 2;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .footer > li:nth-child(1) img {
    width: 30vw;
  }
}
